body {
	background-color: #d03e3e;
	color: white;
	font-family: 'Balsamiq Sans', Helvetica, Sans-Serif;
	font-weight: 400;
	text-align: center;
}

#txt {
	position: absolute;
	top: 0.5em;
	width: 100%;
}

h1 {
	font-size: 7em;
	margin-bottom: 1em;
}

h2 {
	font-size: 5em;
	margin-top: 1em;
}
